{% include '::layout/layoutBenevole.html.twig' %}
{% block body %}
<div class="container" style="right: -4%; top: 13%;">
    <div class="row">
        <div class="col-12">
            <h1>Liste de course</h1>

            <table>
                <thead>
                    <tr>
                        <th>Montantcourse</th>
                        <th>Datecourse</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ course.montantCourse }} €</td>
                        <td>{% if course.dateCourse %}{{ course.dateCourse|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('benevole_course_show', { 'id': course.id }) }}"><i class="icon-book"></i> Voir</a>
                                </li>
                                <li>
                                    <a href="{{ path('benevole_course_edit', { 'id': course.id }) }}"><i class="icon-edit"></i>modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <ul>
                <li>
                    <a href="{{ path('benevole_course_new') }}">Cree une course</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
