<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% include "::modulesUsed/navigation.html.twig"  %}
<div class="container">
    <div class="row">
        <div class="span2">
            <a class="brand" href="index.php"><i class="icon-star"></i> Administration </a><br><br><br>
            <div class="position-relative float-left">
                {% include '::modulesUsed/navigationAdmin.html.twig' %}
            </div>
        </div>

        <div class="span12">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<script src="{{ asset('js/jquery-1.10.0.min.js') }}"></script>
<script src="{{ asset('../js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/pages/ckeditor/ckeditor.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>