<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% include "::modulesUsed/navigation.html.twig"  %}
<a class="brand" href="index.php"><i class="icon-star"></i> Administration </a><br><br><br>
<div class="position-absolute float-left">
    {% include '::modulesUsed/navigationAdmin.html.twig' %}
</div>
<div class="container">
    <div class="row">

        <div class="span9">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>


<footer id="footer" class="fixed-bottom">
    <hr />
    <div class="container">


        <div class="row">
            <div class="col-3">
                <p>&copy; Copyright {{ "now"|date("Y") }} - GeRo</p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ asset('js/jquery-1.10.0.min.js') }}"></script>
<script src="{{ asset('../js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/pages/ckeditor/ckeditor.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>